@import "tailwindcss";

@layer base {
  :root {
    --bg-primary: hsl(0 0% 100%);
    --bg-sec: hsl(210 40% 96.1%);
    --bg-ter: hsl(214.3 31.8% 91.4%);
    --txt: hsl(222.2 84% 4.9%);
    --txt-dim: hsl(215.4 16.3% 46.9%);
    --txt-disabled: hsl(215 14% 65%);
    --radius: 0.5rem;
    --btn: #e6501b;
    --btn-hover: hsl(12 76% 61%);
    --accent: #faf3e1;
    /* --accent: hsl(27 87% 67%); */
    --logo-invert: 0;
    --shadow-rgb: 234, 88, 12;
  }
  :root {
    --bg-primary: #dfddec;
    --bg-sec: #edecf2;
    --bg-ter: #ffffff;
    --txt: #1f2937;
    --txt-dim: #525f70;
    --txt-disabled: #888888;
    --radius: 0.5rem;
    --btn: #7f23ca;
    --btn-hover: #8f30de;
    --shadow-rgb: 127, 35, 202;
  }
  :root {
    --bg-primary: #fff; /* main page background */
    --bg-sec: #f8f8f8; /* cards / sections */
    --bg-ter: #f3f3f3; /* inputs / table row hover */

    --txt: #7e2a0c; /* main text */
    --txt-dim: #6f3320; /* secondary text */
    --txt-disabled: #9a9a9a; /* disabled text */
    --accent: #fff7ed;
    --radius: 0.5rem;

    --btn: #ee5f0e; /* orange button */
    --btn-hover: #d9530c; /* darker orange hover */

    --nav: #7e2a0c; /* navbar/footer brown */
    --nav-hover: #6f3320; /* darker brown hover */

    --shadow-rgb: 169, 116, 95; /* orange shadow */
  }
}
