@import "tailwindcss";

@layer base {
  :root {
    --bg-primary: hsl(0 0% 100%);
    --bg-sec: hsl(210 40% 96.1%);
    --bg-ter: hsl(214.3 31.8% 91.4%);
    --txt: hsl(222.2 84% 4.9%);
    --txt-dim: hsl(215.4 16.3% 46.9%);
    --txt-disabled: hsl(215 14% 65%);
    --radius: 0.5rem;
    --btn: #E6501B;
    --btn-hover: hsl(12 76% 61%);
    --accent: #FAF3E1;
    --logo-invert: 0;
    --shadow-rgb: 234, 88, 12;
  }
  :root {
    --bg-primary: #dfddec;
    --bg-sec: #edecf2;
    --bg-ter: #ffffff;
    --txt: #1f2937;
    --txt-dim: #525f70;
    --txt-disabled: #888888;
    --radius: 0.5rem;
    --btn: #7f23ca;
    --btn-hover: #8f30de;
    --shadow-rgb: 127, 35, 202; /* Default shadow RGB */
  }
}
